views/about.html
<!DOCTYPE html><html><head><title>Urban Informatics 2015</title><link rel="stylesheet" href="/stylesheets/uikit.min.css"><script src="/javascripts/jquery-2.1.3.min.js"></script><script src="/javascripts/uikit.min.js"></script><!-- Tooltip CSS--><link rel="stylesheet" type="text/css" href="/stylesheets/tooltip.min.css"><!-- Tooltip Javascript--><script src="/javascripts/tooltip.min.js"></script><link rel="stylesheet" href="/stylesheets/uikit.min.css"><link rel="stylesheet" href="/stylesheets/leaflet.css"><link rel="stylesheet" href="/stylesheets/style.css"><link rel="stylesheet" href="/stylesheets/uibangalore.css"></head><body><nav id="primaryNav" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', target:'a', delay:100}" class="uk-navbar"><a href="/" class="uk-navbar-brand"><strong><font size="5">Urban Informatics</font></strong></a><ul style="float:right" class="uk-navbar-nav"><li class="uk-navbar-nav"><a href="/about"><b>about</b></a></li><li class="uk-navbar-nav"><a href="/methodology"><b>methodology</b></a></li><li class="uk-navbar-nav"><a><b>contact us</b></a></li></ul></nav><hr><div class="uk-grid"><div class="uk-width-medium-1-2"><div class="uk-panel uk-panel-space uk-panel-divider"><h3 class="uk-panel-title">Problem</h3>Currently, a property buyer in Bangalore does not have a clear and transparent source for property pricing information. Information is available online in various locations but is often vague or inaccurate. For example,<span data-uk-tooltip="" title="Minimum property values (in Rs per square unit area) set by the government"><strong>guidance values</strong></span> for localities are available on a government-run website. However, there are no official locality boundaries, making the estimation of guidance values into guesswork. In this way, lack of easily accessible data decreases property buyers&apos; confidence in their purchases.<p></p>Bangalore&apos;s government is likewise disadvantaged by an absence of clear property pricing information. Guidance values set by the government are supposed to reflect market values but rarely correlate. Registration value discrepancies reduce<span data-uk-tooltip="" title="Tax collected upon property purchase"><strong>stamp tax</strong></span> income by an estimated<span data-uk-tooltip="" title="7 Billion Rupees"><strong>Rs. 700 crore</strong></span>.</div><div class="uk-panel uk-panel-space uk-panel-divider"><h3 class="uk-panel-title">Goal</h3>To address these issues, our team is designing a publicly accessible web interface to visualize property values in Bangalore&apos;s localities. We hope to increase transparency and facilitate property valuation, benefiting both investors and the city government.</div><div id="partners" class="uk-panel uk-panel-space uk-panel-divider"><h3 class="uk-panel-title">Partners</h3><table class="uk-table uk-text-center"><thead><tr><th><a href="http://iihs.co.in/" target="_blank">Indian Institute of Human Settlements</a></th><th><a href="http://www.iiitb.ac.in/" target="_blank">Indian Institute of Information Technology Bangalore</a></th><th><a href="http://www.iimb.ernet.in/initiatives/iimb-creri/" target="_blank">Indian Institute of Management</a></th></tr></thead><tbody class="uk-text-left"><tr><td><a href="http://iihs.co.in/about/people/arindam-jana/" target="_blank">Arindam Jana</a></td><td><a href="http://www.iiitb.ac.in/people/faculty/content/52" target="_blank">Amit Prakash</a></td><td><a href="http://www.iimb.ernet.in/initiatives/iimb-creri/team-members" target="_blank">Madalasa Venkataraman</a></td></tr><tr><td><a href="http://iihs.co.in/about/people/shriya-anand/" target="_blank">Shriya Anand</a></td></tr><tr><td><a href="http://iihs.co.in/about/people/neha-sami/" target="_blank">Neha Sami</a></td></tr></tbody></table></div></div></div></body></html>

views/about.jade
doctype html
html

  head
    title GIS Crime Statistics

    link(rel='stylesheet', href='/stylesheets/uikit.min.css')

    script(src='/javascripts/jquery-2.1.3.min.js')

    script(src='/javascripts/uikit.min.js')
    // Tooltip CSS
    link(rel='stylesheet', type='text/css', href='/stylesheets/tooltip.min.css')
    // Tooltip Javascript
    script(src='/javascripts/tooltip.min.js')

    link(rel='stylesheet', href='/stylesheets/uikit.min.css')

    link(rel='stylesheet', href='/stylesheets/leaflet.css')

    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', href='/stylesheets/uibangalore.css')

  body
    nav(class="uk-navbar" id="primaryNav" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', target:'a', delay:100}")
      a(class="uk-navbar-brand" href='/')
        strong
          font(size='5') GIS Crime Statistics
      ul(class="uk-navbar-nav" style="float:right" )
        block icon
        li(class="uk-navbar-nav"): a(href='/about')
          b about
        li(class="uk-navbar-nav"): a(href='/sign')
          b sign in
    hr
    .uk-grid
      .uk-width-medium-1-2
        .uk-panel.uk-panel-space.uk-panel-divider
          h3.uk-panel-title Problem

        .uk-panel.uk-panel-space.uk-panel-divider
          h3.uk-panel-title Goal
          | The goal of the project is to design a map based interface to observe trends in the under-reporting of certain crimes.
          | The intention is that the police can then use this information to improve their formal reporting process, which will in turn make law enforcement more eﬀective.
          | Our tool will allow users to switch on layers to compare reported and crowd sources crimes. Users can ﬁlter out data by crime or by time period etc
        .uk-panel.uk-panel-space.uk-panel-divider
          h3.uk-panel-title Data Sources
          table.uk-table
            thead
            tbody
              tr
                td
                  a(href='http://openbangalore.org/available-data/', target='_blank') Open Bangalore
              tr
        .uk-panel.uk-panel-space.uk-panel-divider
          h3.uk-panel-title Team
          table.uk-table.uk-text-center
            tbody.uk-text-left
              tr
                td
                  a( target='_blank') Anisha Nazareth
                td
                  a( target='_blank') Chandan Yeshwanth
                td
                  a( target='_blank') Rahul Ghosh
              tr
                td
                  a( target='_blank') Yashvanth Mohan Kondi
